:root {
    --accentColor: #00ec7e;
}

body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    " main main aside"
    "footer footer footer"
    ;
    /* background-color: var(--backgroundColor); */
}

nav {
    grid-area: nav;
    box-shadow: var(--accentColor) 0em 0em 5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}