:root {
    --accentColor: #00ec7e;
}

body {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    ". main ."
    "footer footer footer"
    ;
    /* background-color: var(--backgroundColor); */
}

nav {
    grid-area: nav;
    /* box-shadow: var(--accentColor) 0em 0em 5px; */
}

.navigationList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}