body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.topNavigation {
    display: grid;
    float: center;
    grid-template-columns: auto;
    justify-content: space-evenly;
}

.topNavigation ul {
    display: flex;
    padding: 0;
    margin: 1em;
    align-items: center;
}

.topNavigation ul li {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 2em;
    padding-right: 2em;
}