@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* default properties */
* {
    padding: 0;
}

/* vars */
:root {
    --textClr: #fff;
    --buttonClr: #53d8bb;
    --textHoverClr: #00ec9d;
    --accentClr: #009670;
    --backgroundClr: #0d1117;
    --navClr: #0a0a0a;
    --footerClr: #0a0a0a;
    --h1Clr: #31ffba;
    --textShadowPrimary: #16e294;
    --textShadowSecondary: #fff;
    --borderColor: #00e297;

    --grad1: #000000;
    --grad2: #031913;
    --grad3: #063225;
    --grad4: #094b37;
}


/* MAIN STYLES */
nav {
    grid-area: nav;
    box-shadow: var(--accentClr) 0px 0px 25px;


    /* marker */
    background-color: var(--navClr);
}

body {
    margin: 0;
    background: linear-gradient(45deg, var(--grad1), var(--grad2), var(--grad3), var(--grad4));
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
    /* padding-left: 1%; */


    /* marker */
    /* background-color: red; */
}

.myName {
    /* remove padding & margin from header */
    padding: 0;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: var(--h1Clr);
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 5px var(--textShadowPrimary);
    animation:
        makeshiftGlitch 0.2s ease-in,
        smoothTextShadow 5s ease-in-out infinite alternate;


    /* marker */
    /* background-color: rgb(0, 43, 107); */
}

.aboutMe {
    margin-top: 0%;
    color: var(--textClr);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1em;
    text-shadow: 2px 2px 20px var(--textShadowSecondary);
    animation: fadeIn 1s ease-in;

    /* marker */
    /* background-color: rgb(21, 255, 0); */
}

.subtitle {
    margin-top: 5%;
    color: #fff;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: lighter;
    text-align: center;

    font-size: 1em;
    text-shadow: 2px 2px 20px var(--textShadowSecondary);
    animation: fadeIn 1s ease-in;

    /* marker */
    /* background-color: rgb(21, 255, 0); */
}

.projectContainer {
    margin: 1em;
    background-color: var(--backgroundClr);
    box-shadow: #3d3d3d 0px 0px 10px;
    border: 1px solid #3d3d3d;
}

.projectContainer img {
    margin: 1em;
}

.projectContainer h2 {
    color: var(--textClr);
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 2em;
}

.projectDesc {
    margin: 1em;
    color: var(--textClr);
    text-shadow: 2px 2px 20px var(--textShadowSecondary);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: lighter;
}

.projectTitle {
    margin: 0.5em;
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: var(--h1Clr);
    text-shadow: 2px 2px 5px var(--textShadowPrimary);
}

aside {
    grid-area: aside;
    padding-left: 5%;
}

footer {
    border-top: var(--borderColor) solid 2px;
    box-shadow: var(--accentClr) 0px 0px 25px;
    grid-area: footer;
    padding-left: 0.5%;
    padding-right: 0.5%;

    /* marker */
    background-color: var(--footerClr);
}

li {
    list-style: none;
}

.copyright {
    font-family: 'Roboto Mono';
    font-weight: lighter;
    color: var(--textClr);
    text-decoration: none;
    text-align: center;
}

.footerIcons {
    display: grid;
    float: center;
    grid-template-columns: auto;
    justify-content: space-evenly;
}

.footerIcons ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.footerIcons ul li {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

i {
    color: #535353;
    font-size: 3em;
}

a {
    font-family: 'Chakra Petch';
    font-weight: bold;
    color: var(--textClr);
    text-decoration: none;
}

/* classes */
.profilePicture {
    border-radius: 45%;
    display: block;
    margin: auto;
    width: 27em;
}


/* animation & other effect stuff */
a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--textHoverClr);
    letter-spacing: 0.1em;
    transition: 0.5s;
}

i:hover {
    color: var(--textHoverClr);
    transition: 0.1s ease-in;
    transform: translate(0px, -0.1em);
    /* animation: makeshiftGlitch 0.1s ease; */
}

textarea {
    resize: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes makeshiftGlitch {
    0% {
        transform: skew(25deg);
    }

    50% {
        transform: skew(-25deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes smoothTextShadow {
    100% {
        text-shadow: 2px 2px 20px var(--textShadowPrimary);
    }
}