@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --textColor: white;
    --backgroundColor: #0d1117;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
    background-color: var(--backgroundColor);
}