@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --textColor: white;
    --backgroundColor: #0d1117;
}

* {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

main {
    background-color: yellow;
    grid-area: main;
    padding: 1em;
}

header {
    background-color: red;
    grid-area: header;
    padding: 1em;
}

aside {
    background-color: pink;
    grid-area: aside;
    padding-left: 5%;
}

footer {
    background-color: blueviolet;
    grid-area: footer;
    padding-left: 0.5%;
}

nav ul {
    /*display: flex;*/
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    color: var(--textColor);
}

form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    row-gap: 0.5em;
    width: 100%;
}

input[type="submit"] {
    grid-column: 1/3;
}