:root {
    --backgroundClr: #0d1117;
    --borderColor: #00e297;
    --navTransitionSpeed: 0.5s;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
    background-color: var(--backgroundColor);
}

.footerIcons {
    margin-top: 1em;
}

.contactContainer {
    width: 60%;
}

.reportContainer {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 80%;
}

footer ul {
    display: none;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100vh;
    grid-area: nav;
    border-left: var(--borderColor) solid 2px;
    box-shadow: var(--accentClr) 0px 0px 0px;
    z-index: 2;
    transition: var(--navTransitionSpeed) ease-in;
}

nav ul li a {
    font-size: 1.3em;
}

.subtitle {
    padding-left: 10%;
    padding-right: 10%;
}

.topNavigation ul {
    padding: 0;
    margin: 1em;
    align-items: center;
}

.topNavigation ul li {
    height: 3em;
}

.myProjects {
    display: grid;
    grid-template-columns: auto;
}

.valScreenshots {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.demoContainer {
    margin-bottom: 20em;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
 }
 
 .videoFooter {
    margin-top: 30%;
 }

/* hamburger menu stuff */
.showNav {
    margin: 1%;
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #FFF;
}

#clicked .ON{
    display: block;
}

#clicked .OFF{
    display: none;
}

#clicked:target .ON{
    display: none;
}

#clicked:target .OFF{
    display: block;
}

#clicked:target nav{
    left: 50%;
    box-shadow: var(--accentClr) 0px 0px 25px;
    transition: var(--navTransitionSpeed) ease;
}